*{
    margin: 0;
    padding: 0;
}

.time-wrapper{
    width: 400px;
    margin-left: 100px;
}
.header{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.left,.right{
    border: 10px solid transparent;
    height: 0;
    cursor:pointer;
}

.left{
    border-right-color: rgb(9,140,248);
}

.right{
    border-left-color: rgb(9,140,248);
}

.middle{
    flex: 1;
    text-align: center;
}

.week{
    width: 100%;
    color:white;
    margin-bottom: 10px;
    background-color: rgb(7,140,248);
    display:flex;
    justify-content:space-around;
    flex-direction: row;
    align-items:center;
}

.date-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.date-list > .day{
    width: 53px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.otherDay{
    color: rgba(133,133,133,0.4);
}

.today{
    color:white;
    background-color: rgb(7,140,248);
}